
body {
    box-sizing: border-box;
}


.login-row {
  background-image: url("../assets/black-dreamstimeback.png");
  margin-bottom: 1px;
}
.login-user-box {
  /* border: 1px solid black; */
  /* background-image: url("../assets/black-dreamstimeback.png"); */
  height: 30px;
  margin-bottom: 10px;
}

.login-info {
  color: #ffffff;
  font-size: 14px;
  margin-top: 5px;
}

.banner {
  background-image: url("../assets/Library-catalogues.jpg");
  background-size: cover;
  height: 200px;
  margin-bottom: 1px;
}
.lib-header {
  /* border: 1px solid black; */
  /* background-image: url("../assets/blue-hexagon-pattern.jpg"); */
}
.rem-books {
  /* border: 1px solid black; */
  font-family: Times, Garamond, sans-serif;
  margin-top: 90px;
  /* background-image: url("../assets/blue-hexagon-pattern.jpg"); */
}
.lib-banner {
  /* border: 1px solid black; */
  color: #ffffff;
  font-family: Times,Garamond, sans-serif;
  font-size: 60px;
  margin-top: 60px;

  /* background-image: url("../assets/blue-hexagon-pattern.jpg"); */
}

.add-books {
  font-family: Times, Garamond, sans-serif;
  margin-top: 90px;
  /* border: 1px solid black; */
  /* background-image: url("../assets/blue-hexagon-pattern.jpg"); */
}
.lib-header {
  border: 1px solid black;
}
.library-image-back {
  /* border: 1px solid black; */
  background-image: url("../assets/library-back-image.jpg");
  background-size: cover;
  height: 600px;
}

.img-back {
  color: #ffffff;
  font-family: Times,Garamond, sans-serif;
  font-size: 34px;
  margin-top: 200px;
}

.img-margin {
  /* border: 1px solid black; */
}

.rand-search-show-back {
  /* background-image: url("../assets/grey-color-background.jpg"); */
  background-color: #F7F7F7;
  height: 70px;
  margin-top: 2px;
  margin-bottom: 5px;
}
.show-rand-book-btn {
  border: 1px solid #F0EAEA;
  /* margin-left: 12px; */
  float: left;
  margin-top: 12px;
  margin left: 5px;
  /* margin-right: 5px; */
}
.show-rand-auth-btn {
  border: 1px solid #F0EAEA;
  /* margin-left: 12px; */
  float: right;
  margin-top: 12px;
  /* margin left: 5px; */
  margin-right: 5px;
}
.search-func {
  /* border: 1px solid black; */
}
.show-auth-rand-book {
  /* border: 1px solid black; */
}

#exampleInputSearch {
  height: 35px;
  width: 260px;
  border-radius: 10px;
  margin-top: 12px;
  border: 1px solid #F0EAEA;
}

.search-btn {
  margin-top: 10px;

}

.table-library {
  /* background-image: url("../assets/grey-library-contents-background.jpeg"); */
  background-color: #F9F9F9;
  /* margin: 20px 0px; */
  padding-bottom: 10px;

}

.library-margin {
  /* border: 1px solid black; */
}
.lib-title {
  /* border: 1px solid black; */
  font-weight: bold;
}

.lib-author {
  /* border: 1px solid black; */
  font-weight: bold;
}
.lib-page {
  /* border: 1px solid black; */
  font-weight: bold;
}

.lib-pub-date {
  /* border: 1px solid black; */
  font-weight: bold;
}
.lib-rating {
  /* border: 1px solid black; */
  font-weight: bold;
}

.library-contents {
  /* background-image: url("../assets/grey-library-contents-background.jpeg"); */
  background-color: #F9F9F9;
}
.lib-title-content {
  border: 1px solid #F0EAEA;
  height: 50px;
}

.lib-title-content p {
  margin-top: 15px;
}


.lib-author-content {
  border: 1px solid #F0EAEA;
  height: 50px;
}

.lib-author-content p {
  margin-top: 15px;
}

.lib-page-content {
  border: 1px solid #F0EAEA;
  height: 50px;
}

.lib-page-content p {
  margin-top: 15px;
}
.lib-pubdate-content {
  border: 1px solid #F0EAEA;
  height: 50px;
}

.lib-pubdate-content p {
  margin-top: 15px;
}
.lib-rating-content {
  border: 1px solid #F0EAEA;
  height: 50px;
  width: 12.4999%;
}

.rating-stars {
  margin-top: 10px;
  border: none;
  background-color: #F9F9F9;
}

.checked {
  color: gold;
}
.foot-page {
  color: #939393;
  height: 20px;
  margin-top: 10px;
}
