
body {
    box-sizing: border-box;
}


.login-row {
  background-image: url("../assets/black-dreamstimeback.png");
  /* margin-bottom: 1px; */
}
.login-user-box {
  /* border: 1px solid black; */
  /* background-image: url("../assets/black-dreamstimeback.png"); */
  height: 30px;
  margin-bottom: 20px;
}

.login-info {
  color: #ffffff;
  font-family: Times, Garamond, sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

/* Banner  */
.banner {
  background-image: url("../assets/library-back-image.jpg");
  background-size: cover;
  height: 500px;
  /* margin-bottom: 1px; */
}

.lib-margin {
  margin-top: 20px;
}

@keyframes example {
    from {margin-top: -200px;}
    to {margin-top: 30px;}
}


.rem-books {
  /* border: 1px solid black; */
  font-family: Times, Garamond, sans-serif;
  margin-top: 100px;
  /* margin-left: 10px; */

  /* background-image: url("../assets/blue-hexagon-pattern.jpg"); */
}

.lib-banner {
  /* border: 1px solid black; */
  color: #ffffff;
  font-family: Times,Garamond, sans-serif;
  font-size: 60px;
  margin-top: 10px;
  animation-name: example;
  animation-duration: 1s;

  /* background-image: url("../assets/blue-hexagon-pattern.jpg"); */
}

.lib-quote {
  font-size: 24px;
  margin-top: 20px;

}

.add-books {
  font-family: Times, Garamond, sans-serif;
  margin-top: 100px;
  /* border: 1px solid black; */
}

/* Add Books Modal */
.choose-file-btn {
  border-radius: 4px;
}
.cart-queue-num {
  margin-top: 10px;
  color: green;
}

/* margin between table library and rand-search-show-back */
.img-back {
  color: #ffffff;
  font-family: Times,Garamond, sans-serif;
  font-size: 34px;
  /* margin-top: 200px; */
}

/* random books, random authors, all books, all authors, and search */
.rand-search-show-back {
  /* background-image: url("../assets/grey-color-background.jpg"); */
  background-color: #F7F7F7;
  /* height: 70px; */
  margin-top: 2px;
  margin-bottom: 15px;
}
.show-rand-book-btn {
  border: 1px solid #F0EAEA;
  /* margin-left: 12px; */
  font-family: Times, Garamond, sans-serif;
  /* float: left; */
  margin-top: 12px;
  /* margin left: 5px; */
  margin-right: 5px;
}
.show-rand-auth-btn {
  border: 1px solid #F0EAEA;
  /* margin-left: 12px; */
  /* float: right; */
  font-family: Times, Garamond, sans-serif;
  margin-top: 12px;
  /* margin left: 5px; */
  margin-right: 5px;
}
.search-func {
  /* border: 1px solid black; */
  font-family: Times, Garamond, sans-serif;
}
.show-auth-rand-book {
  /* border: 1px solid black; */
  font-family: Times, Garamond, sans-serif;
}

#exampleInputSearch {
  height: 35px;
  width: 260px;
  border-radius: 10px;
  margin-top: 15px;
  border: 1px solid #F0EAEA;
}

.search-btn {
  margin-top: 15px;

}
.search-progress {
  margin-left: 100px;
}

#pageNum {
  color: black;
}



a.pagination {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

#prev {
  color: black;
}

#next {
  color: black;
}





/* Style the active/current link */
/* .pagination a.active {
    background-color: dodgerblue;
    color: white;
} */

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.loader {
    border: 16px solid #ffffff; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.library-head {
  /* border: 1px solid black; */
  font-family: Times, Garamond, sans-serif;
  padding: 5px;
}
 .library-head th {
   width: 500px;
   /* border: 1px solid black; */
   margin: 5px;
   padding: 10px;
   background-color: lightgray;
 }

.cover-img {
  height: 125px;
  width: 125px;
  padding: 15px;
  align-items: center;
  /* border: 1px solid black; */
}



/* Library section */
.library-books {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: Times, Garamond, sans-serif;
}
.library-content {
  width: 120px;
  margin: 50px;
  padding: 5px;
  /* border: 1px solid black; */
}

.library-content td {
  /* border: 1px solid black; */
  padding: 3px;
}

.rating-stars {
  margin-top: 10px;
  border: none;
  /* background-color: #F9F9F9; */
}

.checked {
  color: gold;
}

.delete-lib-item {
  /* border: 1px solid lightgray; */
  width: 50px;
  margin-top: 25px;

}

#cover-id {
  margin-left: 0px;
}
/* .fix-del-btn {
  margin: 0px;
  border: 1px solid
} */
/* .delete-top-right {
   margin-left: 100px;

  opacity: 0.25;
} */






.foot-page {
  color: #939393;
  height: 20px;
  margin-top: 10px;
}
